section.advantages
	.container.advantages-wrapper
		h2.advantages-title Преимущества работы с нами
		.advantages-description
			.advantage-card
				img(src="../app/img/wallet.png" width="51.96px" height="52px" alt="wallet").advantage-img
				h3.advantage-title Делимся оптом и навыками
				.advantage-desc Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.
			.advantage-card
				img(src="../app/img/wallet.png" width="51.96px" height="52px" alt="wallet").advantage-img
				h3.advantage-title Стабильная зарплата
				.advantage-desc Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.
			.advantage-card
				img(src="../app/img/wallet.png" width="51.96px" height="52px" alt="wallet").advantage-img
				h3.advantage-title Гибкий график
				.advantage-desc Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.
