header
	.container
		h2.title Ты готов стать профессионалом?
		.subtitle Мы ищем 
			span талантов 
			|  и
			span  саппортов
			|  в команду. Решите на какую категорию вы претендуете.
		a(href="#personal-info").desc Заполнить анкету